.no-image {
  background-position: center -50px;
}

.image {
  background-position: center;
}

.card-container {

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  // max-width: 350px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  @media (max-width: 1024px) {
    max-width: 100%;
  }
  img.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the image is behind other content */
  }
  .badge {
    position: absolute;
    left: 16px;
    top: 16px;
    padding: 8px 16px;
  }
  .fav-icon-div {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 8px 9.5px;
    background-color: white;
    border-radius: 50%;
    img {
      max-width: 24px;
      width: 100%;
    }
  }
  .content-div {
    padding: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #0a1237e5;
    .card-heading {
      margin-bottom: 8px;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
    .card-location-text {
      margin-bottom: 16px;
    }
  }
}
