/* shimmer-card.component.css */
.shimmer-container {
  width: 100%;
  height: 320px; /* Adjust the height of your component */
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.shimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(227, 211, 211, 0.8) 50%,
    transparent 100%
  );
  animation: shimmerAnimation 1.5s infinite;
  border-radius: 15px;
}

@keyframes shimmerAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
