<!-- Banner section starts -->
<section
  class="banner-section"
  [style.backgroundImage]="
    'url(' +
    (selectedProject?.project_image ||
      '../../assets/images/pages/No_Image.png') +
    ')'
  "
>
  <div class="overlay"></div>

  <div class="banner-content-div">
    <div class="header-main-heading white-color text-center">
      {{
        selectedProject?.information?.title
          ? selectedProject.information.title
          : ""
      }}
    </div>
  </div>
</section>

<!-- Banner section ends -->
<section class="project-overview">
  <div class="img-div">
    <app-shimmer *ngIf="isShimmerVisible"
    [showShimmer]="isShimmerVisible"
  ></app-shimmer>
  <img 
  [src]="selectedProject?.project_image ? selectedProject.project_image : '../../assets/images/pages/No_Image.png'"
  (load)="onImageLoad()"
  [class.loaded]="!isShimmerVisible" 
/>

      
       
  </div>
  
 

  <div class="overview-container">
    <div class="heading section-main-heading primary-light-color">
      Project Overview
    </div>
    <div class="desciption body-text black-color">
      {{
        selectedProject?.project_gpt_description
          ? selectedProject?.project_gpt_description
          : selectedProject?.description?.project_description
      }}
    </div>
    <p class="body-text black-color">
      Secure your suite at
      {{
        selectedProject?.information?.title
          ? selectedProject.information.title
          : ""
      }}! Sign up here to access DAY ONE Pricing, Floor Plans and Exclusive
      Incentives.
    </p>
  </div>
</section>
<!-- About kipling station starts -->
<section class="about-kipling-section">
  <div class="about-outer-div">
    <div class="content-div">
      <div class="section-main-heading primary-light-color">
        About
        {{
          selectedProject?.information?.title
            ? selectedProject.information.title
            : ""
        }}
      </div>
      <div
        class="about-inner-parallel-div"
        *ngIf="selectedProject?.project_information?.mls_zone"
      >
        <div class="left-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              LOCATION
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.street_address
                  ? selectedProject.project_information.street_address
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STATUS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.information?.construction_status
                  ? selectedProject.information.construction_status
                  : ""
              }}
            </div>
          </div>
          <div
            class="outer-div builder"
            [routerLink]="[
              '/builders-and-developers',
              selectedProject?.developer?.url
            ]"
          >
            <div class="label card-location-text secondary-light-color">
              BUILDERS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.developer?.name
                  ? selectedProject.developer.name
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              MLS ZONE
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.mls_zone
                  ? selectedProject.project_information.mls_zone
                  : ""
              }}
            </div>
          </div>
        </div>
        <div class="right-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              CITY
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.city
                  ? selectedProject.project_information.city
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              OCCUPANCY
            </div>
            <div class="desc body-text black-color">2026</div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STOREYS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_attributes?.storeys
                  ? selectedProject.project_attributes.storeys
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              NUMBER OF UNITS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.units?.total_number_of_units
                  ? selectedProject.units.total_number_of_units
                  : ""
              }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="about-inner-parallel-div"
        *ngIf="!selectedProject?.project_information?.mls_zone"
      >
        <div class="left-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              LOCATION
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.street_address
                  ? selectedProject.project_information.street_address
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STATUS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.information?.construction_status
                  ? selectedProject.information.construction_status
                  : ""
              }}
            </div>
          </div>
          <div
            class="outer-div builder"
            [routerLink]="[
              '/builders-and-developers',
              selectedProject?.developer?.url
            ]"
          >
            <div class="label card-location-text secondary-light-color">
              BUILDERS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.developer?.name
                  ? selectedProject.developer.name
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              NUMBER OF UNITS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.units?.total_number_of_units
                  ? selectedProject.units.total_number_of_units
                  : ""
              }}
            </div>
          </div>
        </div>
        <div class="right-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              CITY
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.city
                  ? selectedProject.project_information.city
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              OCCUPANCY
            </div>
            <div class="desc body-text black-color">2026</div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STOREYS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_attributes?.storeys
                  ? selectedProject.project_attributes.storeys
                  : ""
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-div">
      <app-shimmer *ngIf="isShimmerVisible"
      [showShimmer]="isShimmerVisible"
    ></app-shimmer>
      <img
      [src]="selectedProject?.project_image_600 ? selectedProject.project_image_600 
      : (selectedProject?.project_image ? selectedProject.project_image 
      : '../../assets/images/pages/No_Image.png')"
          (load)="onImageLoad()"
          [class.loaded]="!isShimmerVisible" 
      />
    </div>
  </div>
</section>


<!-- Location section starts -->
<section class="location-section">
  <div class="content-div">
    <div class="section-main-heading primary-light-color">Location</div>
    <div class="map-div">
      <div id="map"></div>
    </div>
  </div>
</section>
