<!-- <ngx-json-ld [json]="schema"></ngx-json-ld> -->

<!-- Banner section starts -->
<section
  class="banner-section"
  [style.backgroundImage]="
    'url(' +
    (selectedProject?.project_image ||
      '../../assets/images/pages/No_Image.png') +
    ')'
  "
>
  <div class="overlay"></div>

  <div class="banner-content-div">
    <div class="header-main-heading white-color text-center">
      {{
        selectedProject?.information?.title
          ? selectedProject.information.title
          : ""
      }}
    </div>
  </div>
</section>

<!-- Banner section ends -->
<section class="project-overview">
  <div class="img-div">
    <app-shimmer *ngIf="isShimmerVisible"
    [showShimmer]="isShimmerVisible"
  ></app-shimmer>
  <img 
  [src]="selectedProject?.project_image ? selectedProject.project_image : '../../assets/images/pages/No_Image.png'"
  (load)="onImageLoad()"
  [class.loaded]="!isShimmerVisible" 
/>

      
       
  </div>
  
 

  <div class="overview-container">
    <div class="heading section-main-heading primary-light-color">
      Project Overview
    </div>
    <div class="desciption body-text black-color">
      {{
        selectedProject?.project_gpt_description
          ? selectedProject?.project_gpt_description
          : selectedProject?.description?.project_description
      }}
    </div>
    <p class="body-text black-color">
      Secure your suite at
      {{
        selectedProject?.information?.title
          ? selectedProject.information.title
          : ""
      }}! Sign up here to access DAY ONE Pricing, Floor Plans and Exclusive
      Incentives.
    </p>
    <!-- <div class="button-div">
      <button
        class="button-normal "
        (click)="scrollToSection()"
      >
        Register Now
      </button>
    </div> -->
  </div>
</section>
<!-- About kipling station starts -->
<section class="about-kipling-section">
  <div class="about-outer-div">
    <div class="content-div">
      <div class="section-main-heading primary-light-color">
        About
        {{
          selectedProject?.information?.title
            ? selectedProject.information.title
            : ""
        }}
      </div>
      <div
        class="about-inner-parallel-div"
        *ngIf="selectedProject?.project_information?.mls_zone"
      >
        <div class="left-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              LOCATION
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.street_address
                  ? selectedProject.project_information.street_address
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STATUS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.information?.construction_status
                  ? selectedProject.information.construction_status
                  : ""
              }}
            </div>
          </div>
          <div
            class="outer-div builder"
            [routerLink]="[
              '/builders-and-developers',
              selectedProject?.developer?.url
            ]"
          >
            <div class="label card-location-text secondary-light-color">
              BUILDERS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.developer?.name
                  ? selectedProject.developer.name
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              MLS ZONE
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.mls_zone
                  ? selectedProject.project_information.mls_zone
                  : ""
              }}
            </div>
          </div>
        </div>
        <div class="right-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              CITY
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.city
                  ? selectedProject.project_information.city
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              OCCUPANCY
            </div>
            <div class="desc body-text black-color">2026</div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STOREYS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_attributes?.storeys
                  ? selectedProject.project_attributes.storeys
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              NUMBER OF UNITS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.units?.total_number_of_units
                  ? selectedProject.units.total_number_of_units
                  : ""
              }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="about-inner-parallel-div"
        *ngIf="!selectedProject?.project_information?.mls_zone"
      >
        <div class="left-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              LOCATION
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.street_address
                  ? selectedProject.project_information.street_address
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STATUS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.information?.construction_status
                  ? selectedProject.information.construction_status
                  : ""
              }}
            </div>
          </div>
          <div
            class="outer-div builder"
            [routerLink]="[
              '/builders-and-developers',
              selectedProject?.developer?.url
            ]"
          >
            <div class="label card-location-text secondary-light-color">
              BUILDERS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.developer?.name
                  ? selectedProject.developer.name
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              NUMBER OF UNITS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.units?.total_number_of_units
                  ? selectedProject.units.total_number_of_units
                  : ""
              }}
            </div>
          </div>
        </div>
        <div class="right-div">
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              CITY
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_information?.city
                  ? selectedProject.project_information.city
                  : ""
              }}
            </div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              OCCUPANCY
            </div>
            <div class="desc body-text black-color">2026</div>
          </div>
          <div class="outer-div">
            <div class="label card-location-text secondary-light-color">
              STOREYS
            </div>
            <div class="desc body-text black-color">
              {{
                selectedProject?.project_attributes?.storeys
                  ? selectedProject.project_attributes.storeys
                  : ""
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-div">
      <app-shimmer *ngIf="isShimmerVisible"
      [showShimmer]="isShimmerVisible"
    ></app-shimmer>
      <img
      [src]="selectedProject?.project_image_600 ? selectedProject.project_image_600 
      : (selectedProject?.project_image ? selectedProject.project_image 
      : '../../assets/images/pages/No_Image.png')"
          (load)="onImageLoad()"
          [class.loaded]="!isShimmerVisible" 
      />
    </div>
  </div>
</section>

<!-- <section #propertyDetailsBanner class="property-details-banner tertiary-background-color" id="property-details-banner">
  <div class="property-details-outer-div">
    <div class="content-div white-color">
      <div class="img-and-text-div">
        <div class="section-main-heading black-color">
          Register to get Pricing & Floor Plans for the
          {{
            selectedProject?.information?.title
              ? selectedProject.information.title
              : ""
          }}
        </div>
      </div>
      <div class="body-text black-color">
        <p style="margin-bottom: 0">
          For priority meeting requests, please contact us at
        </p>
        <a href="tel:+1-647-995-2063"
          ><span class="secondary-light-color"
            ><strong>+1-647-995-2063</strong></span
          ></a
        >
        <p>Our team will ensure you receive immediate attention.</p>
      </div>
    </div>

    <section
      class="registration-form-section"
      id="property-details-request-info"
    >
      <div class="outer-div">
        <div class="form-div">
          <div class="heading black-color">
            Register to get Pricing & Floor Plans for the
            {{
              selectedProject?.information?.title
                ? selectedProject.information.title
                : ""
            }}
          </div>
          <div>
            <form class="registration-form" (ngSubmit)="contactSubmit()">
              <div class="input-div">
                <input
                  name="contactName"
                  [(ngModel)]="contactName"
                  maxlength="30"
                  placeholder="Enter full name "
                  type="text"
                />
                <span *ngIf="emptyName" class="card-small-text error-color">
                  Please enter your name
                </span>
                <span *ngIf="nameLength" class="card-small-text error-color">
                  Please enter atleast 3 characters
                </span>
              </div>
              <div class="parallel-div">
                <div class="input-div">
                  <input
                    [ngStyle]="{ width: elementWidth }"
                    name="contactNumber"
                    (keypress)="onKeyPress($event)"
                    maxlength="14"
                    [(ngModel)]="contactNumber"
                    type="tel"
                    id="phone"
                    placeholder="Enter contact number"
                  />

                  <span *ngIf="emptyNumber" class="card-small-text error-color">
                    Please enter your number
                  </span>
                  <span
                    *ngIf="numberLength"
                    class="card-small-text error-color"
                  >
                    Please enter a number of atleast 11 characters
                  </span>
                </div>
                <div class="input-div">
                  <input
                    name="contactEmail"
                    [(ngModel)]="contactEmail"
                    maxlength="50"
                    placeholder="Enter email address"
                    type="email"
                  />
                  <span *ngIf="emptyEmail" class="card-small-text error-color">
                    Please enter your email
                  </span>
                  <span *ngIf="emailFormat" class="card-small-text error-color">
                    Please enter the correct format
                  </span>
                </div>
              </div>

              <div class="parallel-div">
                <div class="input-div">
                  <div class="sub-heading black-color">
                    Are you an Agent/Realtor?
                  </div>

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="agentRadio"
                      id="agentYes"
                    />
                    <label class="form-check-label" for="agentYes">
                      Yes, I am
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="agentRadio"
                      id="agentNo"
                    />
                    <label class="form-check-label" for="agentNo">
                      No, I am not
                    </label>
                  </div>
                </div>

                <div class="input-div">
                  <div class="sub-heading black-color">
                    Are you looking to Buy/Sell?
                  </div>

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="buySellRadio"
                      id="buySellYes"
                    />
                    <label class="form-check-label" for="buySellYes">
                      Yes, I am
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="buySellRadio"
                      id="buySellNo"
                    />
                    <label class="form-check-label" for="buySellNo">
                      No, I am not
                    </label>
                  </div>
                </div>
              </div>
              <div class="input-div">
                <div class="sub-heading primary-light-color">Message</div>

                <textarea
                  rows="5"
                  placeholder="Example: Number of bedrooms, budget, etc..."
                  rows="4"
                  name="contactMessage"
                  [(ngModel)]="contactMessage"
                ></textarea>
                <span *ngIf="messageError" class="card-small-text error-color">
                  Please enter your message
                </span>
              </div>
              <span *ngIf="successfullyScheduled" class="card-small-text success-color">
                Thank you for registering! We’ll be in touch with details shortly. 
              </span>

              <div class="input-div">
                <input class="submit-btn button-normal" type="submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section> -->

<!-- Slider section starts -->
<!-- <section>
  <div class="slider-container">
    <div class="main-slide-div">
      <ngx-slick-carousel class="slider-nav">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="img-div">
            <img
              *ngIf="slide"
              src="{{ slide }}"
              alt="../../assets/images/pages/No_Image.png"
            />
            <img *ngIf="!slide" src="../../assets/images/pages/No_Image.png" />
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="small-slide-div">
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
        <div
          ngxSlickItem
          *ngFor="let slide of slides; let i = index"
          class="slide"
        >
          <div class="img-div">
            <img
              src="{{ slide }}"
              alt="../../assets/images/pages/No_Image.png"
              (click)="showSlide(i)"
            />
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="arrow-div">
      <button class="prev-arrow" (click)="prevSlide()">
        <img
          src="../../assets/images/icons/backward-arrow-without-circle.svg"
        />
      </button>
      <button class="forward-arrow" (click)="nextSlide()">
        <img src="../../assets/images/icons/forward-arrow-without-circle.svg" />
      </button>
    </div>
  </div>
</section> -->
<!-- Slider section ends -->

<!-- Register now section starts -->
<!-- <app-register-now-section></app-register-now-section> -->
<!-- Register now section ends -->

<!-- Location section starts -->
<section class="location-section">
  <div class="content-div">
    <div class="section-main-heading primary-light-color">Location</div>
    <div class="map-div">
      <div id="map"></div>
    </div>
  </div>
</section>
<!-- Location section ends -->

<!-- Signup newletter Starts -->
<!-- <app-signup-newsletter></app-signup-newsletter> -->
<!-- Signup newletter Ends -->

<!-- Other projects section starts -->
<!-- <section class="other-projects-section">
  <div class="section-main-heading text-center primary-light-color">
    Other projects you might be interested in
  </div>

  <div class="project-cards-outer">
    <ng-container *ngFor="let project of allProjects">
      <app-condos-project-card [project]="project"></app-condos-project-card>
    </ng-container>
  </div>
</section> -->
<!-- Other projects section ends -->

<!-- News & Insight Section Starts -->
<!-- <section class="news-insights-section">
  <div class="content-div">
    <div class="section-main-heading primary-light-color primary-light-color">
      News & Insights
    </div>
    <div class="body-text black-color mt-4">
      Unlock valuable insights for your condo and home decisions with our
      Heading News - Toronto's property market at your fingertips.
    </div>
  </div>
  <div class="news-cards-outer-div">
    <ng-container *ngFor="let news of fnews">
      <div class="news-card" routerLink="/news-detail/{{ news.stub }}">
        <div class="img-div">
          <img
            src="{{ news?.image || '../../assets/images/pages/No_Image.png' }}" alt="No Image"
          />
        </div>
        <div class="content-div">
          <div class="card-heading primary-color">
            {{ news.title | limitWords : 5 }}
          </div>
          <div class="card-location-text secondary-light-color">
            {{ news.date | dateFormat }}
          </div>
          <div class="card-body-text">
            {{ news.details.article_text | truncateText }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section> -->
<!-- News & Insight Section Ends -->
